body {
    font-family: 'OpenSans Regular';
    color: #585858;
    font-size: 14px;
    line-height: 24px;
}

a {
    transition: color 0.5s;

    &:hover {
        color: #034ea2;
        text-decoration: none;
    }
}

ul, ol {
    margin: 20px;
}

ul ul, ol ol {
    margin: 0 20px;
}

// li {
//     font-size: 13px;
// }

strong {
    font-family: 'OpenSans Bold';
}

div.news-detail img.detail_picture {
    margin: 0 20px 20px 0 !important;
}