body {
    font-family: 'OpenSans Regular';
    color: #585858;
    font-size: 14px;
    line-height: 24px;
}

a {
    transition: color 0.5s;

    &:hover {
        color: #034ea2;
        text-decoration: none;
    }
}

ul, ol {
    margin: 20px;
}

ul ul, ol ol {
    margin: 0 20px;
}

// li {
//     font-size: 13px;
// }

strong {
    font-family: 'OpenSans Bold';
}

div.news-detail img.detail_picture {
    margin: 0 20px 20px 0 !important;
}



#basket-container a {
    color: #a7a7a7;
    font-size: 12px;
    text-indent: -9999px;
}



.product form {
    display: flex;
}

.qty_minus, .qty_plus {
    border: 1px solid #d5d5d5;
    display: table-cell;
    width: 52px;
    height: 52px;
    text-align: center;
    vertical-align: middle;
    padding-top: 13px;
    font-size: 20px;
    color: grey;
}

.qty {
    border: 1px solid #d5d5d5;
    height: 52px;
    text-align: center;
    border-right: none;
    border-left: none;
}


.product-item-detail-tab-content {
    margin-top: 20px;
}

.product-item-detail-properties dt {
    float: left;
    margin-right: 20px;
}

.product-item-detail-properties dt, .product-item-detail-properties dd {
    font-size: 12px;
    color: grey;
}

.bx-ui-slider-track .bx-ui-slider-part > span {
    display: none;
}

.bx-ui-slider-track .bx-ui-slider-part.p1 > span,
.bx-ui-slider-track .bx-ui-slider-part.p5 > span {
    display: block;
}

.found_dealers {
    background-color: #63c6a4;
    color: #fff;
    padding: 20px;
}

.col-xs-five,
.col-sm-five,
.col-md-five,
.col-lg-five {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}

.col-xs-five {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-five {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-five {
        width: 20%;
        float: left;
    }
}

.bx-authform-social {
    display: none;
}

.bx-auth-reg table tr td {
    padding: 5px 0;
}

#header__login-content .bx-system-auth-form > .alert.alert-success {
    margin-top: 40px;
}

.container.simplepage .clients__items {
    display: flex;
    justify-content: space-around;
}