.header {

    &__logo-img {
        margin-top: -8px;
        margin-bottom: -20px;
        width: 150px;
    }

    &__top {
        padding: 15px 0;
        border-bottom: 1px solid #ededed;
        background-color: #fff;
        position: relative;
        /*z-index: 99999;*/
    }

    &__phones {
        display: flex;
        height: 24px;
        align-items: center;

        @media only screen and (max-width: 1200px) {
           justify-content: center;
            margin-bottom: 20px;
        }
    }

    &__phone-icon {
        margin-right: 21px;
    }

    &__callback-icon {
        margin-right: 17px;
    }

    &__login-icon {
        margin-right: 17px;
    }

    &__phone {
        margin-right: 16px;
    }

    &__links {
        display: flex;
        justify-content: flex-end;

        @media only screen and (max-width: 1200px) {
            justify-content: center;
        }
    }

    &__link {
        margin-right: 16px;

        &:focus {
            text-decoration: none;
        }
    }

    &__main {
        padding: 30px 0;
        box-shadow: 0px 5px 5px -4px rgba(0,0,0,0.10);

        @media only screen and (max-width: 1200px) {
            padding: 30px 0 40px 0;
        }
    }

    &__searchbutton {
        display: block;
        width: 20px;
        height: 20px;
        background: transparent url(../img/search.png) 0 0 no-repeat;
        float: right;
        margin-top: 8px;
        transition: opacity 0.5s;
        border: none;
        outline: none;
        cursor: pointer;
        text-indent: -9999px;

        @media only screen and (max-width: 1200px) {
            margin-top: -20px;
        }

        &_second {
            margin: 0;
        }

        &_clicked {
            background: transparent url(../img/close.png) 0 0 no-repeat;
        }

        &:focus {
            background: transparent url(../img/close.png) 0 0 no-repeat;
            outline: none;
        }

        &:hover {
            opacity: 0.5;
        }
    }

    &__searchcontainer {
        position: absolute;
        z-index: 2;
        height: 106px;
        background-color: #fff;
        margin-top: 30px;
        width: inherit;
        display: flex;
        align-items: center;
        display: none;

        @media only screen and (max-width: 768px) {
            width: 100%;
        }

        &_shown {
            display: flex;
        }

        &:before {
            content: '';
            display: block;
            height: 106px;
            width: calc(100% + 1000px);
            background-color: #fff;
            position: absolute;
            z-index: 1;
            left: -50%;
            box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.1);
            border-top: 1px solid #ededed;
        }
    }

    &__searchinput {
        position: relative;
        z-index: 2;
        width: calc(100% - 30px);
        border: none;
        outline: none;
        /*background: transparent url(../img/search.png) center right no-repeat;*/
        font-family: 'MuseoSans Regular';
        color: #000000;
        font-size: 20px;
        line-height: 20px;
        font-weight: 900;
        background-color: #fff !important;
    }

    &__popup {
        padding: 30px;
        width: 320px;
        background-color: #f9f9f9;
    }

    &__popup-form {
        margin: 20px 0;
    }

    &__input {
        padding: 20px;
        border: 1px solid #ededed;
        outline: none;
        width: 100%;
    }

    &__input_phone-number, &__input_password {
        margin-top: -1px;
    }

    &__button {
        width: 100% !important;
        padding: 20px !important;
        margin: 25px 0 30px 0;
        background-color: #fff;
    }

    &__callback-link {
        display: block;
        margin-bottom: 15px;
        color: #6b93bf !important;
        text-decoration: none;
        transition: color 0.5s;

        &:last-child {
            margin-bottom: 0;
        }

        &:hover {
            color: #185093 !important;
        }
    }
}


#header__callback-content, #header__login-content {
    display: none;
    position: absolute;
    top: 50px !important;
    left: 50%;
}

#header__callback-content {
    margin-left: 278px; 
}

#header__login-content { 
    margin-left: 278px;
    display: none;
}



.header__searchcontainer .search-form {
    position: relative;
    z-index: 2;
    width: 100%;
}

.header__searchcontainer .search-form table {
    width: calc(100% - 30px);
}

article > .search-form {
    display: none;
}

.bx-system-auth-form input {
    width: 100%;
    border: 1px solid #ccc;
    height: 36px;
    padding-left: 10px;
}

.bx-system-auth-form input[type=submit] {
    height: 46px;
    margin-bottom: 20px;
}

.bx-system-auth-form table tr:last-child {
    display: none;
}

.user-logged {
    align-items: center;
    justify-content: space-between;
    margin: 0 20px;
    margin-right: -20px;
}

.user-logged a {
    margin-right: 20px;
}

.profile-table.data-table tr input {
    margin-bottom: 10px;
}

.container > .bx-system-auth-form, .simplepage > .bx-system-auth-form {
    width: 400px;
}

.slider .owl-dots {
    @media only screen and (max-width: 1200px) {
        margin: -300px 0 0 0;
    }
}