.certificates {
    margin-bottom: 180px;

    &__text {
        margin: 55px 0;
    }

    &__item {
        text-align: center;
    }

    &__itempic {
        border: 1px solid #f0f0f0;
        height: 235px;
        width: 100%;
        margin-bottom: 20px;
    }
}