.newsfeed {
    margin-top: 150px;
    
    &__container {
        position: relative;
    }

    & .owl-stage {
        display: flex;
    }

    & .owl-nav {
        display: none;
    }

    & .mCSB_dragger_bar {
        background-color: #585858 !important;
        height: 4px !important;
        border-radius: 2px !important;
    }

    & .mCSB_draggerRail {
        background-color: #ededed !important;
        height: 4px !important;
        border-radius: 2px !important;
    }

    &__items {
        margin-top: 70px;
        margin-bottom: 40px;
        display: flex;
    }

    &__item {
        padding: 0 30px 0 0;
    }

    &__itemtitle {
        margin: 30px 0;
    }
}