.newsfeed {
    width: 100%;
    padding: 60px 90px 25px 90px;
    background-color: #f9f9f9;
    border: 2px solid #ececec;
    margin-top: 120px;
    display: flex;

    &__section {
        &:first-child {
            width: 60%;
            padding-right: 40px;
        }

        &:last-child {
            width: 40%;
        }
    }

    &__article {
        margin-bottom: 10px;
    }

    &__button {
        text-transform: unset;
        font-size: 14px;
        background-color: #fff;
        padding: 15px 25px;
        width: 100%;
        justify-content: space-between;

        & img {
            filter: grayscale(100%);
            opacity: 0.4;
            transition: 0.5s;
        }

        &:hover {
            & img {
                filter: grayscale(0%);
                opacity: 1;
            }
        }
    }

    &__rotator {
        overflow: hidden;
        display: flex;

        & .owl-stage {
            display: flex;
        }
    }
}