.pricerotator {
    margin-top: 150px;
    display: flex;
    border: 2px solid #ececec;
    padding: 45px 85px;
    justify-content: space-between;
    align-items: center;

    &__section {
        &:first-child {
            width: 60%;
            padding-right: 40px;
        }

        &:last-child {
            width: 40%;
        }
    }

    &__article {
        margin-bottom: 10px;
    }

    &__button {
        text-transform: unset;
        font-size: 14px;
        background-color: #fff;
        padding: 15px 25px;
        width: 100%;
        justify-content: space-between;

        & img {
            filter: grayscale(100%);
            opacity: 0.4;
            transition: 0.5s;
        }

        &:hover {
            & img {
                filter: grayscale(0%);
                opacity: 1;
            }
        }
    }

    &__rotator {
        overflow: hidden;
        display: flex;
        height: 30px;

        & .owl-stage {
            display: flex;
        }
    }
}